<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5"
>
	<display-name>SpellcheckerServer</display-name>
	<context-param>
		<param-name>configFile</param-name>
		<param-value>WEB-INF/config/config.txt</param-value>
	</context-param>
	<listener>
		<listener-class>com.tlabs.spellcheckerserver.servlet.InitListener</listener-class>
	</listener>
	<servlet>
		<display-name>CheckSpelling</display-name>
		<servlet-name>CheckSpelling</servlet-name>
		<servlet-class>com.tlabs.spellcheckerserver.servlet.CheckSpelling</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckSpelling</servlet-name>
		<url-pattern>/CheckSpelling</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddUserVocab</display-name>
		<servlet-name>AddUserVocab</servlet-name>
		<servlet-class>com.tlabs.spellcheckerserver.servlet.AddUserVocabServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserVocab</servlet-name>
		<url-pattern>/AddUserVocab</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UploadFile</display-name>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>com.felix.webmaintenance.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/UploadFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Maintain</display-name>
		<servlet-name>Maintain</servlet-name>
		<servlet-class>com.felix.webmaintenance.MaintenanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Maintain</servlet-name>
		<url-pattern>/Maintain</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Extend User Vocabulary interface</web-resource-name>
			<url-pattern>/addUserVocab.jsp</url-pattern>
			<url-pattern>/AddUserVocab</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>vocabAdder</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin interface</web-resource-name>
			<url-pattern>/admin.jsp</url-pattern>
			<url-pattern>/Maintain</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>vocabAdder</role-name>
	</security-role>
		<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>